.header .nav ul li #exhibit {
    color: #005aad;
}

.message .wrapper h1 {
    margin-top: 40px;
    color: #2dB1BA;
    font-size: 32px;
    font-weight: 700;
    padding-left: 20px;
    border-left: 3px solid #2dB1BA;
}

.message .wrapper {
    height: 2700px;
}

.message .wrapper p {
    font-size: 16px;
    color: #515a6e;
    line-height: 30px;
}

.message video {
    margin-top: 40px;
    margin-left: 160px;
    width: 800px;
    height: 600px;
}

.message .wrapper img {
    width: 800px;
    margin-left: 160px;
}